
@{
    ViewBag.Title = "JSAPI支付";
}







<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pageindex</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/Content/jquery.js"></script>
    <script src="~/Content/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // alert('ok');
        //公众号支付
        $('#btn_JsApiPay').click(function (e) {
            WeixinJSBridge.invoke('getBrandWCPayRequest',
                {
                    "appId": "@ViewBag.appid",
                    "nonceStr": "@ViewBag.nonceStr",
                    "package": "@ViewBag.package",
                    "paySign": "@ViewBag.paySign",
                    "signType": "@ViewBag.signType",
                    "timeStamp": "@ViewBag.timeStamp"
                }, function (res) {
                        //alert(res.err_msg);
                        if (res.err_msg == "get_brand_wcpay_request:ok") {
                            //window.location.href="/wx/StoreManage/WX_HB/WXSuccess.aspx?bill="+$("#body_hidBill").val();
                        }
                    });
        });

    }, false)
    </script>
</head>
<body>
    <br /><br />
    <h2>微来时空支付</h2>

    <button class="btn btn_primary" id="btn_JsApiPay" style="margin-top:50%;margin-bottom:50%;">确认值 @ViewBag.money 元</button>

</body>
</html>