<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.liMarquee.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery_002.js")"></script>
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/amazeui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/layer.js")"></script>
    <script src="@Url.Content("~/Scripts/select_city.js")"></script>*@
    <title>@ViewBag.Title </title>
    @{
        var code = HttpContext.Current.Request["code"];
        //Log.logmsg(code);
        string urlpath = HttpContext.Current.Request.Url.AbsoluteUri.ToString();
        ViewBag.at = GamePro.BaseFunction.weixinService.GetOpenID(urlpath, code);
    }
</head> 
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
